body {
    background-color: rgb(154, 155, 151);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    background-color: lightblue;
    padding: 5px;
    display: flex;
    gap: 12px ;
}
.logo img {
    width: 200px;
    margin-left: 40px;
    border-radius: 50px;

}
footer {
    background-color: rgb(107, 107, 126);
    text-align: center;
}
.Joy img {
    width: 800px;
    padding-left: 190px;
}
.Right video {
    width: 300px;
    padding-left: 80px;
    background-color: black;
}
.Left video {
    width: 365px;
    float: right;
    padding-right: 80px;
}
.design img {
    display: flex;
    width: 300px;
    padding: 20px;
    margin: 0 50px;
}
.oar img{
    width: 300px;
    padding: 80px;
}
.pra img {
    width: 300px;
    float: right;
    padding: 80px;
}
button {
    background-color: rgb(121, 224, 121);
    padding: 10px;
}
form input {
    padding: 10px;
    margin: 5px;
    width: 500px;
    background-color: transparent;
    border-radius: 5px;
    color: white;
}
form{
    padding-left: 25px;
}    
h1{
    padding-left: 10px;
    font-size:larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align: center;
}
h2{
    padding-left: 20px;
    font-size: larger;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
h3{
    padding-left: 20px;
    font-size: larger;
    font-style: italic; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 60px;
    margin-left:400px ;
    text-align: right;
}
nav a{
    padding-right: 100px 100px;
    border-radius: 8px;
    text-align: right;
    text-decoration: none;
}
ul{
   list-style: georgian;
}
p{
    margin-right: 10px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    line-height: 30px;
}
.love p{
    background-color: bisque;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fit h2{
    background: linear-gradient(to right,#f4b400, #ffb300);
    color: #000;
    padding-right: 40px 60px;
    font-weight: bold;
    font-size: 1.5em;
    width: fit-content;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    margin: 40px 0 20px 0;
}
.tip {
    background-image: url(image/tttt.webp);
    background-repeat: none;
    background-size: cover;
    width: 700px;
    padding: 250px;
}
.we{
    background: linear-gradient(to right,#f4b400, #ffb300);
    color: #000;
    padding-right: 40px 60px;
    font-weight: bold;
    font-size: 1.5em;
    width: fit-content;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    margin: 40px 0 20px 0;
}